# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

**/node_modules
**/dist
**/dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
#Variables de Entorno
.env

# Node.js
**/node_modules/

# Variables de entorno
**/.env
**/.env.*

# Builds
**/dist/
**/build/

# Logs
**/*.log

# IDE
.vscode/

# Sistema
.DS_Store
Thumbs.db